[2020-03-10 09:47] jilleb opened #1 "Merge with MIB2-high toolbox?"
Hello :-)
Great work, looking forward to this toolbox!!

Maybe we can merge our toolboxes, so we can have shared things like scripts/tweaks and such. It's possible to support multiple platforms with a single POI update distribution, like this:

[code]

with metainfo like this:

[code]

[2020-03-10 10:21] mattcabb commented on #1
Hi,
Sure! Seams like a great idea!

I'm just starting to figure out how to safely access filesystem of my MIB2Std. And since I don't have recovery tools for it yet - it's baby steps really.

You are far more experienced coder/hacker than I am. I'm not even sure which `Variant` number relates to 5F unit in my car. I believe that you also have better access to test devices (though MQB-C&R) and teste

[2020-03-10 10:52] jilleb commented on #1
❤️

Did you find a succesful way to install the custom .esd on the unit through the POI update?

On MIB2-high there are a few vulnerabilities that make it possible:
- POI update allows writing of ANY file onto the unit, by using the payload feature. However, they cannot be a script, because the copied file will not be executable (and there's no way to do chmod 777 during SWDL)
- leftovers from the

[2020-03-10 12:47] mattcabb commented on #1
No success yet...

BTW, have you seen this line?
`# VMOPTIONS="$VMOPTIONS -Dde.vw.mib.asl.internal.exlap.overrideSWaP"`
Not sure if it's interesting at all but the `overrideSWaP` got me excited 😃

[2020-03-10 22:42] jilleb commented on #1
hmm that is looking interesting!! :-)

[2020-03-30 20:36] jannikuhl opened #2 "Add support to dump the shadow file"
Have you already had success reading the shadow file?

I am currently trying to access the MIB via Telnet. I can connect, but I don't have the root password.

Unfortunately I can't contact you anywhere. If you are interested in exchanging information I would be happy if you send me an email to jannik.uhlmann(at)icloud.com.

I am currently working on reverse engineering the FEC/SWaP system of Techn

[2020-04-04 21:40] hxigor commented on #1
For Technisat StdNav units there's a backdoor through onlineservices update. Works the same way as Jille's payload in MHI2 Toolbox. With some tweaking this could be a solution to enter these units. Unfortunately works only on nav units, doesn't work on StdPlus units.

[2020-04-15 08:24] necroave commented on #1
if you intrested in recovery of technisat mib2 std - you can contact me via telegram (same nickname) - i'l give you some info.

[2020-05-02 01:55] ccman32 opened #3 "Replace images/ressources?"
Hi there,
I am currently retrofitting auxiliary heating in my Seat Leon 5F and I noticed that the images in the menu for it are missing so it looks like this:
![IMG_20200427_201539](https://user-images.githubusercontent.com/17458377/80852357-2ffe5900-8c28-11ea-94bc-67aa3cd7e4d1.jpg)
It is a MIB2Std (part number 5QA035858A) and so far I could not find any way to add the missing image. Would it be p

[2020-05-03 21:26] mattcabb commented on #3
You can check if there's a newer firmware available for your main unit. Maybe it will contain missing images.
If you dig in google you will find zip archives with FW 0330 and 0346.

[2020-05-03 21:29] mattcabb commented on #2
Nothing yet. Due to lockdown I had to put most of things on hold for now. Hope to get back to the hack soon.

[2020-05-03 22:08] ccman32 commented on #3
Thanks for the response! I already had that checked by my local automobile workshop a few weeks ago and they said there is no official update available (didn't look for one myself though). It currently runs with FW 0359.
I highly doubt that this will be added by an update because the Leon isn't sold with auxiliary heating so it makes sense that they didn't make an image for it. The only reason why

[2020-05-05 09:30] mattcabb commented on #3
If you get you hand on the update, you will be able to extract GUI files, make custom ones, and have it ready for when the tool is working.

[2020-05-05 16:48] ccman32 commented on #3
Sounds good! But what do you mean by saying "If you get your hand on the update"? As I said, there seems to be no update available for my unit. Do you mean that I have to find the update/installation file for my version so I can edit it and then install the modified version? Or are you talking about an update of your toolkit?

[2020-05-06 09:05] mattcabb commented on #3
If you find any update (doesn't matter if the firmware is older than your current one) you will be able to extract GUI files from it. With that you can start working on the missing graphics and prepare custom GUI pack to be uploaded later on to your main unit (or custom single PNG file to replace in your original GUI pack).
Even if you find relatively old firmware, GUI pack should be in the same f

[2020-05-06 09:12] flipidus commented on #3
i have a 0478 Firmware for Volkswagen MIB2 STD (Technisat / Preh) devices. i also found the big file in the firmware with the GUI Textures and Images. I extracted it with the Python script out of the MIB2HIGH-Toolbox. The next thing i will try is to pack this file with the modified files back again and install this firmware on a test MIB2STD (Composition Media, no NAV)

[2020-05-06 09:33] flipidus commented on #2
Hello Jannik,

im am also trying to get inside the MIB2STD and im building a testing station at home. I am also interested in exchanging some information about this topic. I heard there is also a serial connection in the quadlock connector but i dont know if this is only on a HIGH device or also on a STD device. What tools you use exactly to  establish a telnet connection?

Best regards

[2020-05-06 09:36] olli991 commented on #3
Is there a safe way in to the MIB2STD? D-Link shouldn´t work because telnet isn´t active i´ve been told. Would be interesting to get graphic-mods also supported on STD devices. I´ve done several on the high and can share those here if needed. Or they can be seen in the wiki at the mibhigh-toolbox repo :-)

Okay maybe nevermind: You already discuss a way in in #2 .

[2020-05-06 09:41] jannikuhl commented on #2
The MIB2STD does not have Telnet enabled by default and currently the only way to enable it is writing on the bench. Either by soldering or using (what I prefer) BDM. You need to add the following line to the file /fs/hd1-qnx6/tsd/bin/system/startup
`echo ser1 "/bin/login -f root" qansi-m on > /tmp/ttys/sbin/tinit -f /tmp/ttys &`

I never heard about a serial connection on the quadlock, do you hav

[2020-05-06 09:49] mattcabb commented on #2
Found this in test mode.
![debug](https://user-images.githubusercontent.com/2262989/81163783-915b5a80-8f8f-11ea-9eab-48238878d8c0.png)

"Serial" might be related to the quadlock (B:J5_TX, B:J5_RX)
![mib2_wiring_b2edb871d27541030fbdd66275bc7a87993b16c3](https://user-images.githubusercontent.com/2262989/81163791-94eee180-8f8f-11ea-8939-178e8ae313b9.jpg)

[2020-05-06 09:55] flipidus commented on #2
yes thats the serial connection i heard about it after a longer googeling about that stuff. But this PIN-Out in your picture is from a Label on a MIB2 HIGH Device, so i dont know if there is also a Serial Connection on a MIB2 STD device on this Pins 3 and 9. i also readed that you need pin 7 for the serial connection for the GND.

Do you know what the Pins 11 "ESO C3_TX" and 12 "ESO C3_RX" are on

[2020-05-06 09:57] jannikuhl commented on #2
Where have you found that setting? It looks like mine doesn't have that.
What units are you guys exactly have?

I have a Skoda Technisat MST2Nav unit.

We have to be careful because the MIB2STD unit with the same partnumber is manufactured by two different manufacturers (Technisat and Delphi). So maybe we have to split the toolbox since they both work very different.

I think the pinout is from a

[2020-05-06 10:00] flipidus commented on #2
you need to activate the developing mode (Entlicklermodus) on the MIB, it can be done with VCDS or OBDeleven. After that you need to hold the MENU Button a couple of seconds and you are in the Service Mode. Now after enabling the developing mode you need to see there a function called "Test mode" and there you have this Trace Functions

Yes the Delphi Units are different. I also heard that they ar

[2020-05-06 10:10] flipidus commented on #3
Im also still looking for a safe way inside the MIB2 STD. I still need some hardware things to get the MIB2STD running at home, for example a HSD cable for connecting the MIB with the ABT (Display Unit)

I will try to modify the firmware files with new graphics and then i will try to install the firmware on my test MIB2 STD Device. I hope i will not brick it :-)

[2020-05-06 10:54] jannikuhl commented on #2
Found it, thanks. I was always looking in the green menu.

Porsche PCM and MIB2 HIGH are nearly the same. Both from Harman and can be patched the same way. So I think the pinout is also the same.

I'm currently not up-to-date: Is it possible to upload custom green menus already?
Anyone tried it the same way it works on MIB2 high?

[2020-05-06 21:35] ccman32 commented on #3
I've been searching for a while now but so far I could not find any firmware for my MIB2Std. All I found is an update for the MIB1 and many other download links that don't work anymore so if anyone knows a link/source for the firmware please let me know.
The part number for my unit is 5QA035858A (with hardware H30 and software 0359).

[2020-05-06 22:06] ccman32 commented on #3
Glad to hear that you have a test device! Unfortunately I only have the unit that is installed in my car and I can't risk bricking that. Looking forward to your results :)

[2020-05-09 16:35] big-i-m commented on #1
Any new news on this

[2020-05-12 09:34] Wolfillo commented on #1
I offer myself to test on a MIB STD2 5QA 035 846 A if there's a chance

[2020-05-15 03:02] onemiless opened #4 "Is this a tool for the pq platform?"
Look forward to using it soon.

[2020-05-18 10:30] big-i-m commented on #1
Any luck with this

[2020-06-07 17:55] Vavulinalex commented on #2
Hello. I want to study the mib2std Technisat file system. I tried connecting via uart. Unsuccessfully. Technisat does not have a sequential shell. I want to try using telnet. Can you tell me what BDM is? I want to activate telnet.

[2020-06-07 18:20] jannikuhl commented on #4
It will (in the future) work with MIB2STD PQ and ZR. So, yes it will work with MIB2 devices for the PQ Platform.

[2020-06-07 18:27] jannikuhl commented on #2
You're right, Technisat does not have a serial shell. What you need to do is to read the EMMC chip, activate telnet and flash the whole system back to the chip. As described in this this guide: https://forum.xda-developers.com/general/connected-car/success-to-hack-technisat-mib2-t3584185

BDM can be used instead of soldering. You need BDM probes to connect directly to the circuit board. Here some

[2020-06-07 18:36] Vavulinalex commented on #2
Thanks. If necessary, I can share the instructions for mib2 High. There are root passwords for different firmware and instructions on how to work with fec/swap

[2020-06-12 21:12] Medmimoza commented on #4
Hello, it looks amazing, will it work on 3Q0035824C ?
Thank you  for your efforts, you do a great job

[2020-06-14 16:00] jannikuhl commented on #4
I'm currently working on 3Q0035819B, hopefully it will also work with 3Q0035824C :)

[2020-06-14 22:09] Medmimoza commented on #4
I was impressed to see someone working on this project. now i can't hold up

[2020-06-17 17:51] yox2019 commented on #2
How did yoy active telnet ? ... inetd ?

[2020-06-17 18:24] yox2019 commented on #2
... /etc/system/enum/devices/net ;)

device(usb, ven=2001,dev=3c05) # D-Link DUB-E100 big version
device(usb, ven=2001,dev=1a02) # D-Link DUB-E100 small version
device(usb, ven=0b95,dev=772b) # Edimax EU-4208 small version
device(usb, ven=0b95,dev=7720) # Edimax EU-4207 big version
device(usb, ven=0b95,dev=1780) # DELOCK 61969 USB 2.0 Gigabit LAN Adapter
   waitfor(/dev/socket)
   driver (mount -T

[2020-06-18 09:23] flipidus commented on #2
Are these the working USB to LAN Interface Adapter for MIB2 STD/HIGH?

[2020-06-18 15:58] yox2019 commented on #2
... its from PQ unit you have to try it on MIB2 STD/HIGH I have any to test  ;)
... have you telnet connection with "login" promt ?

[2020-06-19 08:34] flipidus commented on #2
Okay, then i will look forward to buy one of these USB to LAN Adapters and then i can check if i can get a telnet promt. are there some special subnet and ip adress static settings i need to set for this network adapter? i dont think the MIB2 will host a DHCP

[2020-06-19 09:11] jannikuhl commented on #2
You need to enable it in the green menu. Then you can connect with D-Link. You can read off the required network settings in the green menu.

[2020-06-19 15:24] yox2019 commented on #2
I am able to connect via D-Link  (192.168.1.4) but only on few ports then I can see logs but connection on port 23 is refused, there is another network 10.X.x.x did you get "login" promt on 192.... or 10... ?

[2020-06-19 19:40] flipidus commented on #2
Okay, thanks for the information, i will look in the GEM for that IP Settings and i ordered a D-Link DUB-E100 USB to LAN adapter, the smaller black version.

[2020-06-20 19:44] jannikuhl commented on #2
You need to connect to port 23 and need the following adapter settings:

- IP: 192.168.1.100
- Subnet: 255.255.255.0

By the way, does anyone have experience recovering Delphi units? I bricked mine today with a invalid SWaP File.

[2020-06-20 21:57] yox2019 commented on #2
... sorry for the question are the D-Link settings or the ethernet card in the computer?

[2020-06-20 22:02] yox2019 commented on #2
... you have to find the way tu put this unit in "emrgency mode" then reflash it with software already installed

[2020-06-20 22:14] jannikuhl commented on #2
On the ethernet card of the PC.

I don't think it will go into emergency mode as it is in a constant boot loop.

[2020-06-20 23:09] yox2019 commented on #2
Thanks, and you login on address displayed in green menu e.g in my unit 192.168.1.4  ?

it doesn't matter, you can always turn on emergency mode, even if the unit is working properly, you just need to know how...

[2020-06-21 09:09] jannikuhl commented on #2
Yes, exactly. Login is root and there is no password, just press enter.

@yox2019 Do you know how to enter emergency mode? It seems to be the last chance for this unit before it needs soldering.

[2020-06-21 16:23] yox2019 commented on #2
... THX I will try but I afraid in PQ unit it won't working

... no, unfortunately but I think it have to be similar as Technisat any way you need terminal connection usb/uart and putty to be able put this unit in emergency mode

[2020-06-21 16:26] jannikuhl commented on #2
Do you talk about Technisat or Delphi?
uart does only work on Delphi and Harman units. Technisat does not have any serial port open, you need to read the emmc, e.g. using BDM. There is currently no other option. PQ is Technisat.

[2020-06-21 16:37] flipidus commented on #2
you have ZR devices from Techniat (Preh) / Delphi / Harman and PQ devices from Technisat. I think the ZR devices from Technisat are to handle the same as the PQ devices. Im waiting for this USB to LAN Adapter from ebay, so i can also test the Telnet function on my Preh device

i heard the Delphi Devices are not so hacking-friendly but i cannot proove if this is true.

i have a productive Technisat

[2020-06-21 17:54] yox2019 commented on #2
it doesn't work like I thought and that's why:
start(ifconfig ax0 192.168.1.4)
**requires**(inetd,)
**requires**(qconn,)

I'm talking about Technisat PQ unit ;)

=~=~=~=~=~=~=~=~=~=~=~= PuTTY log 2020.05.09 13:07:04 =~=~=~=~=~=~=~=~=~=~=~=

[41m-Welcome to TechniBoot-[0m
SVN Rev: 490068 - Jun 18 2015 / 16:46:28
Variant: PQ stdNav 2GB LPDDR3
CAAM: CAAM_CSTA  0x00000202 - trusted Mode
CAAM: init -

[2020-06-29 16:59] flipidus commented on #2
i got this two adapters and try to get a LAN Connection between my notebook and the MIB2 STD ZR (VW, Preh, H41, SW0478)

i was in the debug settings in the GEM and there are IP adresses listed but i was not able to get a connection, the last IP adress in the list was not readable completely and only appeard when the USB to LAN Adapter was connected and the MIB2 was not pingable.

Maybe somebody ha

[2020-06-29 19:32] jannikuhl commented on #2
You cannot connect to a Technisat (ZR) MIB2 with these adapters. You need to read eMMc and enable Telnet. As I have described above.

[2020-06-29 19:38] Vavulinalex commented on #2
Do you have an emmc Pinout ?
![IMG_20200629_213102](https://user-images.githubusercontent.com/66567681/86048478-43c41100-ba59-11ea-9609-fc0fbf67d283.jpg)
![IMG_20200629_212326](https://user-images.githubusercontent.com/66567681/86048481-458dd480-ba59-11ea-8944-3c019b807399.jpg)

[2020-06-30 03:39] yox2019 commented on #2
what do you mean "enable telnet"? I am able to read emmc but as I asked before how do you think "enable telnet"?

[2020-06-30 04:20] Vavulinalex commented on #2
You don't understand anything. You have already been told several times. To use telnet, you must first activate the shell.

https://forum.xda-developers.com/general/connected-car/success-to-hack-technisat-mib2-t3584185 Read the first post

[2020-06-30 11:47] flipidus commented on #2
In this XDA Forum Post, it is described how to activate a SERIAL shell. Serial and Telnet is not the same.

[2020-06-30 12:36] Vavulinalex commented on #2
Until you have either a serial connection or a telnet connection.

[2020-06-30 15:00] yox2019 commented on #2
you are wrong, I understand and repeat it again, even if you get a shell, you will not be able to login via telnet, at least in the Technisat PQ Unit

[2020-06-30 15:11] Vavulinalex commented on #2
I won't argue with you. try again, but you are not going in the right direction.
Telnet will work. This is evidenced by the facts.
1. jannikuhl wrote about this at the very beginning.
2. I communicated with a hacker. He said it was free. This solution works.
And offered a paid solution (500 euro). Software package

[2020-06-30 20:44] yox2019 commented on #2
... oo yes;))) How about I have a unit with an unlocked console and telnet does not work? ;) Do you want "shadow" file and "passwd"?

Here you are:
passwd:
"Root: x: 0: 0: Superuser: /: / bin / sh
ftp :: 0: 0: FTP User: /: / bin / sh
mdnsd: x: 16: 7: mdnsd: / nonexistent: / bin / false "

shadow:
"root: UGCfzJmLNga36:98:0:0"

... and now give me the telnet port where I can use my login and passwor

[2020-07-14 09:38] jannikuhl commented on #2
Does anyone know how to read eMMC or Delphi Unit or even better how to push it into emergency mode?
My Unit does no longer allow Telnet and reboots several times.

[2020-07-25 22:27] ccman32 commented on #3
Hey guys, just wanted to ask if anyone was able to make some progress here over the past weeks/months?
I actually managed to install the auxiliary heater successfully in my car so the only thing left to do is adding the missing graphics.
If there is anything I can do to help so that faster progress can be made on this project, please let me know!

[2020-08-04 07:14] cdennis12280 opened #5 "Progress"
Any update on getting this working on mib2 technisat?

[2020-08-21 19:09] mattcabb commented on #1
Not exactly. I believe that there are two ways of forcing MIB to accept FECs.
1. Replace FecContainer.fec with custom one and patch MIBRoot to skip signature validation of the file.
2. Insert _/tsd/etc/slist/signed_exception_list.txt_ and patch _tsd.mibstd2.system.swap_ to skip signature validation of the file.
For MIB2HIGH the file is _/HBpersistence/FEC/Exceptionlist.txt_

AFAIK the second metho

[2020-08-31 18:30] mattcabb commented on #4
As far as I know there are two major differences between all MIB2STD units. Made by Delphi or Technisat/Preh.
It doesn't matter if the unit is PQ or ZR. When (if ever) this tool will work, it will on both PQ and ZR.

[2020-10-09 10:34] cfectus commented on #2
Do you have this info for Delphi devices also? I need it to give it a try...

[2020-10-09 11:09] Vavulinalex commented on #2
look there:
␡

[2020-10-09 11:44] shadowswan commented on #2
do you have a version of this for tstat?

[2020-10-09 11:51] Vavulinalex commented on #2
Technisat? Of course
❌

[2020-10-09 11:54] Vavulinalex commented on #2
Who deletes my links? Do you feel sorry for that?
Guys write in PM

[2020-10-09 11:55] mattcabb commented on #2
I'm deleting them. I want this repo to stay clean.

[2020-10-24 15:15] ianidor commented on #2
Hi

Loving this informative thread
I’m currently trying to also hack car play and unlock CP in these units
As I understand the emmc dumping is only to read the emmc to run QNX virtually to then edit code to include a telnet console......
It seams easy and there’s is pinouts on the Porsche/xda thread above (via mega upload)
And for the bricked unit it also has pinouts for shorting pinouts in the un

[2020-10-24 16:33] ianidor commented on #2
Delete if not allowed

Harman (edited)

✂️

Technisat
✂️
Delphi
✂️

[2020-10-24 16:36] flipidus commented on #2
✂️

Harman Link is not working, asks for a encryption key

[2020-10-24 16:37] shadowswan commented on #2
They have already been deleted previously by him.
It’s fairly straight forward to unlock CP now and I assume that a lot of the techniques in these exploits could be used to run this toolbox. It’s well documented now on how to dump the files from the device on both technistat and Delphi.

[2020-10-24 17:19] ianidor commented on #2
Yes I know but there’s pinouts for dumping emmc without removing

[2020-10-24 18:43] ianidor commented on #2
✂️

[2020-10-30 19:18] yox2019 commented on #5
... In the meantime... ;)))

![1](https://user-images.githubusercontent.com/58396378/97747679-3fc9fd80-1ae4-11eb-90fc-63544aa07276.jpeg)
![2](https://user-images.githubusercontent.com/58396378/97747698-49ebfc00-1ae4-11eb-88fe-563d42329298.jpeg)
![3](https://user-images.githubusercontent.com/58396378/97747716-4fe1dd00-1ae4-11eb-8b74-ae0fed7f0ac5.jpeg)
![4](https://user-images.githubusercontent.com/

[2020-10-30 19:41] mattcabb commented on #5
Marek, nie denerwuj nas. Publikuj to!

[2020-10-30 19:49] Medmimoza commented on #5
Will it work on my 3q0035824c
😭😭😭

[2020-10-30 19:50] shadowswan commented on #5
Wow!

Just seen on a technisat too!

Well done, care to share how its done?

[2020-10-30 19:54] necroave commented on #5
Just gem from engineering fw. Pff.

[2020-10-30 20:46] cdennis12280 commented on #5
How did u do this?

[2020-10-30 21:25] yox2019 commented on #5
I am waiting for you job Pffff ;)))))

[2020-10-30 21:28] yox2019 commented on #5
... ciągle w fazie testów, brak czasu ;))) (... still in "testmode" I am out of time ;))))

[2020-11-04 02:13] EvoSems commented on #2
Can anyone explain easily how to pinout reset Delphi into fresh emergency mode. I am stuck in a emergency loop but it always asks for the specific firmware it failed on when loading fw at start. And of course it accept the correct firmware it failed on. Loads 4 more files then says complete but then opens back up into emergency n the same loop. Different firmware’s give error that it’s not the fir

[2020-11-07 14:36] cdennis12280 commented on #5
I have solution to unlock all FECs via SD card update. Message me for info.

[2020-11-07 14:38] jonny190 commented on #5
On any unit ?

[2020-11-07 14:38] cdennis12280 commented on #5
Discord cd#3684

[2020-11-07 15:30] cdennis12280 commented on #5
Only works on technisat units

Charlie

On Sat, 7 Nov 2020, 14:38 jonny190, <notifications@github.com> wrote:

[2020-11-07 19:10] dnoermann commented on #2
Hallo to all, first, thanks for sharing all this.

I have Technisat MIB2STD FW 0245
I Enabled telnet, port 23 access in the firewall with adding
"pass in quick proto tcp from any to any port 23 keep state" in tsd/etc/networking/pf.conf

Enabled Console in startup, like @jannikuhl did explained it.

nmap now shows telnet as not blocked by the firewall, but still closed, so the telnetd is not runnin

[2020-11-07 21:45] jannikuhl commented on #2
@dnoermann Can you enter commands using serial connection? I use a serial->USB adapter with a FTDI Chip.

[2020-11-07 21:52] dnoermann commented on #2
@jannikuhl from what i read in this comments, my understandend was that the serial console on the back connector is not available on the PQ Techisat model. I their for did not try this till now, will try it.
Update: Serial Console Works :)
I needed to add in startup:
echo /net/J5/dev/ser1 \"/bin/login -f root\" qansi-m on > /tmp/ttys
/sbin/tinit -f /tmp/ttys &

[2020-11-08 10:30] ianidor commented on #2
Excellent work
It appears all this work is kept quiet to the common DIY guy
I’m wondering if anyone had worked on the PQ I’m currently in emergency mode and can’t get it to take any firmware??
Anyone done this ??

[2020-11-08 15:22] dnoermann commented on #2
To start telnetd, after enabling Telnet in Firewall:
/usr/sbin/telnetd -debug 23 &
root pwd for 0245 FW PQ Technisat is "root"

[2020-11-09 11:48] ianidor commented on #2
Thanks dnoermann any idea of a command to make it take an update from the sd card ?

[2020-11-10 17:05] fikaa73 commented on #2
Hi guys.
I have TechniSat unit(from my research)
MST2_EU_VW_ZR_P0241T
3Q0035846

Can we join knowledge about that unit here?
From my testing, by connecting it to wifi, unit is pingable, and has open 5 ports(23 nor 123 is open)
If you try to telnet to any of these ports, you just get flying logs and that’s it, no network connection can be made.
So, I guess only option is to enable telnet through se

[2020-11-10 17:27] jannikuhl commented on #2
@fikaa73 Serial will also not work, you will only be able to get output but serial input is disabled.
You have to read eMMC or if it is a Nav unit inject the configuration change as a firmware update ;)

[2020-11-10 18:15] fikaa73 commented on #2
Yeah, it’s unit with nav, it can be updated from usb, sd card and cd.
Can someone please guide me through this, as I really wouldn’t like to brick it😳
Which files should I have to update it anyways?

[2020-11-11 06:22] ianidor commented on #2
fikaa73
Don’t worry if you brick it
I can recover 👌

[2020-11-11 10:21] fikaa73 commented on #2
Just don’t ask for money please, I already met people who do that for money 😂
I’d be glad if someone could guide me shortly through this, which files and what to edit? :)

[2020-11-11 10:36] Vavulinalex commented on #2
Hi. I wrote here the links to all the instructions. But they are removed from here. People make money on this and don't want to distribute instructions

[2020-11-11 11:05] fikaa73 commented on #2
Hello friend. Would you mind emailing me instructions for my unit to fvukotic@gmail.com?
I have guy in my city asking for 150€ to unlock my unit. I really wouldn’t throw money on that, when I know I can do it myself.

[2020-11-11 11:06] mattcabb commented on #2
I'm removing those links. I don't make money on this. In fact everything that I know is shared here, in this repo, for free.
There are legal reasons why I don't want those links in this repo. It contains copyright protected software as well as tools to bypass Component Protection = activating stolen devices.
You can share what you want but not here.

[2020-11-11 11:21] flipidus commented on #2
You can do your own thread in github, if you want to share these files. but make the instructions a little bit less confusing.

[2020-11-11 12:58] cfectus commented on #2
Thanks once more for files :) But i could not make the work with them cause it seems something is missing in them. How to edit the SWaP files for versions, and how to make fec files for features. if you know how to do, can you share it please by cemkokten@hotmail.com. I have two units to do the retrofit on my car and for a friend, one is preh and the other one is delphi, and as i see preh units ne

[2020-11-11 13:01] fikaa73 commented on #2
If you find out please email me on fvukotic@gmail.com I’m looking for same thing.
Did you succeed in updating your mib2?

[2020-11-11 13:11] cfectus commented on #2
Sure i will share, not tried to update yet, i could't make my mind clear on instructions cause they seem to be not complete.

[2020-11-11 18:57] yox2019 commented on #2
... so use your brain, create a solution and share for free what's the problem ?

[2020-11-11 21:01] cfectus commented on #2
:) There is no problem. I respect the guy who found the solution, and also respect what he requests. But i'm only talking about the ones got the solution for free but request money for it (if the founder not allowed him/her to do) not any other :) And thanks to everbody learn the solution for free and share it.
As i did many times before, if i found more info i will definitely share it. Sorry if i

[2020-11-11 23:30] fikaa73 commented on #5
@mattcabb how's your project going, are you doing anything at all? :)

[2020-11-13 13:42] fikaa73 commented on #2
I succeeded with patching swap, i have generated swap codes, but here's the problem
I don't have vcp
Could anyone assist me on how to push swap codes through update?

[2020-11-13 14:08] ianidor commented on #2
Hi
Just bought vcp as I’m at the same point
Are you uk based ?
I’m happy to help

[2020-11-13 14:37] fikaa73 commented on #2
I’m from Montenegro actually :)
I don’t have vcp, but I know there’s a way of pushing swap codes through update, so u don’t need vcp.
I can send you swap generator and instructions for vcp

[2020-11-13 14:59] ianidor commented on #2
Yes there is but not sure you can do it in these Technisat units
Do let me know if you find a way
Thanks
 ian

[2020-11-13 15:03] fikaa73 commented on #2
Well I guess I’m stuck with vcp now.
But wait, if I can alter files, is there any other modification I can do, besides of swap?

EDIT:Is anyone able to explain how to activate Telnet on Technisat? I added line to startup and pushed it through update, but nothing happened, telnet still closed.

[2020-11-14 10:17] dnoermann commented on #2
You need to open Firewall for Port 23
Add following line to pf.conf from tsd/etc/networking/
pass in quick proto tcp from any to any port 23 keep state

[2020-11-14 10:21] shadowswan commented on #2
Is the only reason you want to do that for swap? If you have patched the swap file you can load them up using OBDEleven much easier

[2020-11-14 20:05] mattcabb commented on #2
...you can also insert `signed_exception_list.txt` file with FSC codes that you wish to enable.

[2020-11-15 20:51] fikaa73 commented on #2
@shadowswan yeah, thought only way is either that or vcp. How can i do it with obd11? 😦
@mattcabb oh, awesome. But I still need to insert that files somehow. Can i edit pf.conf and hash it with hash generator and push regularly through update?
My pf.conf is in `cpu\networkmgr_sec\12\default\cpu_networkmgr_sec_12_default.tar.gz\cpu_networkmgr_sec_12_default.tar\tsd\etc\networking\`
is that path oka

[2020-11-15 21:56] shadowswan commented on #2
@fikaa73 ensure it is in EOL mode, Security access 20103.
Go to 'Transmit code unlock function SWaP' and enter FEC code
Execute 'unlock function SWaP'
Reboot the headunit
'Eh voilà'

Some of my translations might be a bit off but you will be able to figure them out.

[2020-11-15 23:22] fikaa73 commented on #2
Oh, I didn’t know that’s possible.
What’s EOL mode and how do I come to it?:)
Yeah I’d say I’ll figure it out

[2020-11-15 23:25] shadowswan commented on #2
Select 5f then change service then EOL

[2020-11-16 00:49] fikaa73 commented on #2
Owh, thank you, didn't know that.
Awesome thing, I'll try as soon as OBDEleven arrives.

EDIT:How do I get my `VCRN` if I don't have it in engineering menu?

[2020-11-17 21:28] fikaa73 commented on #1
What's file contents of `signed_exception_list.txt`?

[2020-11-17 22:34] shadowswan commented on #2
Here is not really the place for all these questions, VCRN can be found in the enabled codes menu by selecting one of the codes.
Have you got the mega link? You can find it easily online on mhh or CT forums and it answers all of this.

[2020-11-17 22:50] fikaa73 commented on #2
- [x] I don't have third option in menu where FEC codes should be, only update and hmi tails. And yeah, I got mega links, updated my unit, patched swap.
- [x] I ask so many questions because I really don't want to mess up anything, and also that info will 100% be useful for someone else.
- [x] I'm stuck with signed_exception_list.txt and what's content of that file
- [x] @mattcabb can you give me

[2020-11-21 12:21] johnxter commented on #2
@fikaa73 can you help me with signed_exception_list.txt please ?
I'm stuck with my skoda, I had SK ZR 0245T and after update to 0253 and patch, all my fecs gone, no BT, no nav now
how can I activate back only with sd card ?
thank you

[2020-11-21 13:44] fikaa73 commented on #2
@johnxter email me on fvukotic@gmail.com please, no links are allowed here

[2020-11-30 21:51] fikaa73 commented on #2
Hi @shadowswan
Can you explain me how to get car to EOL mode through vcds?
There is adaptation in 5f but its value is 00 00 00 and new value must be in that format.
What should I do?

[2020-12-01 00:42] shadowswan commented on #2
Needs to be vcp / obd11 / odis. VCDS doesn’t support EOL afaik

[2020-12-01 14:11] fikaa73 commented on #2
Thank you.
Do I insert whole generated swap code, or only 8 digit fec?

[2020-12-01 14:13] shadowswan commented on #2
Yes enter whole code then execute the second command

[2020-12-01 18:31] fikaa73 commented on #2
Awesome.
Can I get your email please?

[2020-12-05 07:44] EvoSems commented on #2
Having a problem with security on a polo gti 6C. With VCDS security code is S12345

I tried S12345 as well as 20103
But get error Key Refused RC 35 Key Incorrect.

I’ve tried this on 2 MIB units on the same car.

I am a little new to VCP. my process is as follows. (Let me know if this is correct.)

Load Program.
Select More. Manual. 5F Start
Select SE26X (defaults to my Car I guess?)
Select EOL VW

[2020-12-08 22:18] fikaa73 commented on #2
Did you try first security access then eol?

[2020-12-08 22:20] mattcabb commented on #2
Security Access S12345 is just for VCDS. It doesn't send the code to the 5F unit. Instead it changes VCDS diagnostic session to <strike>EOL</strike> developer mode.
If you are using VCDS then use SA S12345. If you have VCP or OBDeleven then just change diagnostic session.

[2020-12-08 22:39] EvoSems commented on #2
Oh I am using VCP.
I will try security access first tonight. But I have tried this a few times now. And it seems it doesn’t accept the key. Then I am locked out for maybe 30 mins before trying again.

Maybe I am doing the process wrong. I can’t seem to find any videos on using the vcp interface yet. So I’m a bit trial and error each time.

I’m assuming once the code is entered correct I can open E

[2020-12-11 10:53] mattcabb commented on #5
since the mib solution leaked out, there's basically full filesystem access available for everyone that want's it.
Not going to develop this tool right now as I have other projects to push forward.

[2020-12-11 10:55] shadowswan commented on #5
@jilleb in that case are you interested or is anyone else?

[2020-12-14 12:26] gabrys1994 commented on #5
Could you share any link for this solution or just send it to email : gabrys1994@gmail.com ? I want to activate AA on my Leon, but I cant find toolbox for MIB2 standard.
Thank you very much.

[2020-12-14 12:51] shadowswan commented on #5
Can’t be shared on here but look on MHH auto, car-technology or xda and you will find it easy enough 👍

[2020-12-14 15:08] SqugSCX commented on #2
Not sure if this is the right place to ask, but how do you actually get this solution working? As in reading EMMC using the SD-card method on a Discover Media unit? Or can I just update the unit with a different firmware (0247T vs 0253T) that is already patched?

[2020-12-14 16:36] gabrys1994 commented on #5
I found only posts with resellers, didnt find free software. Could you send me this toolbox if you have it?

[2020-12-14 17:57] jonny190 commented on #5
Anyone found any links on how to?

[2020-12-14 18:55] cdennis12280 commented on #5
What do you need?

Charlie

On Mon, 14 Dec 2020, 17:57 jonny190, <notifications@github.com> wrote:

[2020-12-14 19:07] jonny190 commented on #5
This was my only resource for getting android auto and I can't find any other links apart from paid ones

[2020-12-15 23:18] ccman32 commented on #5
Hi everyone,

sorry for asking once again, but I've looked into the mib solutions as mentioned by @mattcabb and I wasn't really able to find what I am looking for. I have a MIB2Std with part number 5QA035858A and I am looking for a way to add a graphic which is missing in the auxiliary heating menu of my unit. I already explained it in more detail [here](https://github.com/mattcabb/mib2std-toolbox

[2020-12-16 15:19] MrBlueSea commented on #5
@ccman32 contact me on telegram https://t.me/mrblueseachat I have many links that might help you

[2020-12-20 22:08] fikaa73 commented on #2
@shadowswan check this out
![C7CC1301-7F1C-4EFF-9925-D9935C62DE92](https://user-images.githubusercontent.com/72288204/102725601-32790480-4318-11eb-9a8d-5b8901c869f6.jpeg)

[2020-12-20 23:20] shadowswan commented on #2
That’s the wrong place, will look tomorrow but it’s something like transmit code, you put the code in and then You run the release which is the one you are in there

EDIT:

its under adaptation and is ‘transfer of release code for a swap function’ paste code in there and then go back to the one you had and change it to active.

[2020-12-21 09:46] mattcabb commented on #2
@shadowswan so the procedure for OBDeleven is:
5F > Change service > EOL
5F > Adaptation > Transfer of release code for a SWaP Function > paste_the_code > save
5F > Basic Settings > Release of SWaP function > paste_the_code > set status to active
Reboot, long press MENU, check if code is valid.

Is that correct?

[2020-12-21 09:54] shadowswan commented on #2
Almost, for the release of swap function you just change it to active and save that.

Obviously the swap file and the swdownload need to have been patched first for it to accept it

[2020-12-21 10:00] mattcabb commented on #2
@shadowswan system.swap needs to be patched to ignore the signature.
Why system.swdownload needs to be patched as well?

[2020-12-21 10:01] shadowswan commented on #2
Sorry you are correct I was thinking of software update too.

@fikaa73 is it working now?

[2020-12-21 22:25] fikaa73 commented on #2
@shadowswan I don't have hands on my car now, but will look for it tomorrow. That one makes sense, I'm looking just now for VCP instructions and that's correct sequence of steps. Hope it will work :)
SWaP needs to be patched because this is forced way to push SWaP codes, just like you would do with VCP. If you take a look, SWaP from generator is same for every car, it just differs for VCRN and VIN

[2020-12-21 22:35] shadowswan commented on #2
VCP instructions are in the mega folder which I think you had?

It’s been a while since I’ve done the OBD11 but 99% that you just leave it place and choose active.

[2020-12-21 23:06] fikaa73 commented on #2
Yep, was in front of me whole time, just like when I was looking for signed_exception_list.txt for 10 days and accidentally discovered I had it in CP_OFF folder whole time 😂 I'm really surprising myself sometimes..
Can't wait to get in the car to try it

[2020-12-21 23:07] shadowswan commented on #2
@fikaa73 enjoy!

[2021-01-03 02:05] EvoSems commented on #2
Guys I'm having such a headache with VCP. I have installed it on many a laptop now and it just doesn't seem to function as the solution guide shows.

I've tried this on my caddy 2013 and polo gti 2016. the options are just greyed out. I can find no real guide on how to use vcp so everything is just trial and error.

I load the VCP. I connect to car. (car running/car ignition on) I select more. typ

[2021-01-17 17:44] alexprojectGH commented on #2
@fikaa73 Did you unlock the CarPlay? Can you help do that?

[2021-01-17 19:41] fikaa73 commented on #2
Hi, yes, give me your email please

Srdačan pozdrav,
Filip Vukotić
FIST
20/106i
________________________________
From: alexprojectGH <notifications@github.com>
Sent: Sunday, January 17, 2021 6:44:38 PM
To: mattcabb/mib2std-toolbox <mib2std-toolbox@noreply.github.com>
Cc: fikaa73 <filip.vukotic@udg.edu.me>; Mention <mention@noreply.github.com>
Subject: Re: [mattcabb/mib2std-toolbox] Add support to

[2021-01-17 20:11] alexprojectGH commented on #2
My email: alex.tern92@gmail.com

[2021-01-26 23:42] olli991 opened #6 "New mib2-toolbox install method will also work on mib2std!"
Hello,
we've just developed a new install method for the mib2 high toolbox. This isn't using the POI import anmore.
It uses a donor navupdate so far and build some own modules for the update. For non nav units modified firmwareupdate should theoretically also be possible. ... just realised there won't be a navupdate for std units. So modified firmwareupdate it will be and should be possible.

ESD

[2021-01-29 21:32] mattcabb commented on #6
Hi! The other day I saw that there's new major version of MIB2-Toolbox.
Right now my unit is little bit modified so any tests would not be reliable.

Check out README.md in the research folder. I believe this will be helpful https://github.com/mattcabb/mib2std-toolbox/tree/master/Research

[2021-02-06 20:30] marc1706 commented on #6
@olli991 if you need help with testing on a MIB2 Std unit, I can offer that with a unit I currently have on a testbench setup (5QA 035 874). Also one of the devices that currently does not support any of the other methods that currently roam the internet.

[2021-02-06 22:07] olli991 commented on #6
I was informed the backdoor via metainfo should be possible on Delphi units. On Technisat it seems that they arent working.
If someone could send me a complete dump of a recent delphi unit i could investigate the file structure and maybe can write something up to test. I sadly have nothing available here. You can hit me up via t.me/olli991

[2021-02-07 17:10] jado810301 commented on #2
Hello

What do i need to create the Swap codes???  do anyone teach me or give a right direction to find it?? I would like to upload thios using ODIS, fpor Delphi modules.... thanks

[2021-02-08 13:34] fikaa73 commented on #2
I think delphi uses modified feccontainer to activate fecs, but correct me if i'm wrong
You need to extract it from unit, edit it on pc using whatthefec and upload it again

[2021-02-16 02:06] cuilh1016 commented on #2
@dnoermann hello，my unit HW is 0359. According to what you said, I have modified these two places. The IP of my computer is set to 192.168.1.100, and green menu is also opened with ODIS. However, telnet can't connect to my computer. Where else do I need to set or modify? Thank you very much
 ![pf conf](https://user-images.githubusercontent.com/57856540/108009836-7baab380-703e-11eb-95bc-afeaee2f5e8

[2021-02-28 00:14] olli991 commented on #6
I've bought myself a testbench and some units... maybe we can get further here... need to read into technisat and delphi first :D

[2021-03-03 03:23] sun-kaka opened #7 "Is this project not going on? What a pity"
Is this project not going on? What a pity

[2021-03-03 03:58] sun-kaka commented on #5
****

Great. Can you share how you did it?

[2021-03-04 01:22] tehfalcon-vw commented on #6
Hoping Delphi support comes soon!

[2021-03-14 22:09] olli991 opened #8 "MIB2STD Toolbox for Technisat Nav units now available!"
Hey there. I managed to get a working backdoor and developed, together with the MIB2 High Toolbox guys, a toolbox for standard units and we even ported some scripts to std units already.

Skin and startupscreen changes are already possible.

Head over to my repo if you want to check it out. Also many thanks to @yox2019 who helped developing all this!
I'm glad if you want to also contribute to it :

[2021-03-15 08:09] mattcabb commented on #8
That's great!
Will try it out this week. I also have an idea how to make it work on non-nav systems (Composition Media) but it will take you guys to check if this approach makes sense.

[2021-03-15 17:16] yox2019 commented on #8
... then send some more details about your idea :)))

[2021-03-15 17:30] mattcabb commented on #8
https://github.com/olli991/mib2std-toolbox/issues/1

[2021-03-15 18:39] mattcabb commented on #3
Someone did make some progress. Check this: https://github.com/olli991/mib2std-toolbox

[2021-03-15 19:29] mattcabb commented on #7
Look here: https://github.com/olli991/mib2std-toolbox

[2021-03-16 21:11] ccman32 commented on #3
Thanks for the info! I was already able to replace the images in the auxiliary heating menu of my mib2 a few weeks ago, though:
![IMG_20210205_175953](https://user-images.githubusercontent.com/17458377/111380076-2e088180-86a4-11eb-9fe5-f2d6136d0587.jpg)
Wasn't that easy because jille's compress-mcf script originally did not update all checksums in the mcf files but after working on that problem wi

[2021-03-16 21:11] #3 closed, assigned to nobody

[2021-03-18 21:21] olli991 commented on #6
Delphi should be possible with metainfo backdoor... sadly i have no delphi unit here to build a toolbox for it. so currently no progress

[2021-03-22 09:41] #6 closed, assigned to nobody

[2021-03-22 09:42] #8 closed, assigned to nobody

[2021-05-13 21:08] dnoermann commented on #2
@cuilh1016 You need to modify startup to start telnetd

on -p 25 waitfor /net/J5
sleep 0.5

echo /net/J5/dev/ser1 \"/bin/login -f root\" qansi-m on > /tmp/ttys
/sbin/tinit -f /tmp/ttys &
/usr/sbin/telnetd -debug 23 &

[2021-08-16 15:34] osiak809 commented on #2
part, my MIB2 unit stood on the update screen, does anyone have an idea to enter safe mode without a UART adapter
![received_4343329822379522](https://user-images.githubusercontent.com/89030980/129589696-cdc4c43a-80b3-4cd9-8859-e2ae1c415fb6.jpeg)

[2021-08-16 16:34] osiak809 commented on #2
I have obd eleven, but when I try to enter software updates in the basic settings, it pops up that the boundary conditions have not been met

[2022-07-09 10:00] ahmetoguz1 commented on #5
Hello, I have MIB2 STD and basically I want to activate Full link.
HU version is MST2_EU_SE_ZR_P0359T and that device does not have navigation. It has only single SD card slot. Device part no 5QA035824A.

I tried to install MIB2 toolbox and some patches but it was not successful.

I have learnt it is possible but I need to activate telnet/console for it and to do that I need to solder Hu but I cou